body {
    background-color: lightgray;

    .button_navbar{
        color: #fff;
        font-size: 1rem;
        line-height: 1rem;
        text-decoration: none;
        margin-left: auto;
    }
    .Nav_link {
        color: #fff;
        font-size: 1rem;
        line-height: 1rem;
        text-decoration: none;
    }

}
